<div class="container-fluid">
    <div class="row navbar">
        <nav _ngcontent-fwe-c106="" color-on-scroll="500" class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div _ngcontent-fwe-c106="" class="container">
                <div _ngcontent-fwe-c106="" id="navbarToggler" class="navbar-collapse">

                    <div class="col-4"><label class="logo">𝔻𝕆𝕌𝔽𝕘𝕪𝕞 </label></div>
                    <div class="col-3">
                        <input type="text" placeholder="Search.." name="search" style="background-color: transparent; border-color: turquoise; border-radius: 6px;">
                        <button type="submit" style="border-color: turquoise ;color:turquoise;"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="col-7 ">
                        <ul _ngcontent-fwe-c106="" class="navbar-nav ml-auto">
                            <li>
                                <a href="file:///D:/html%20&%20css/New%20projet/index.html#">
                                    HOME  <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.tn/maps/place/Marsa/@36.8940505,10.2751373,13z/data=!3m1!4b1!4m5!3m4!1s0x12e2b4ece327d091:0x409af07a2553fda1!8m2!3d36.8891165!4d10.3222671?hl=fr"> LOCATION <i class='fas fa-map-marker-alt'></i></a>
                            </li>
                            <li>
                                <a routerLink="/training"><i class="fas fa-dumbbell"></i>Training</a>
                            </li>
                            <li><a routerLink="/contact" style="color: yellow;">CONTACT <i class='fas fa-phone'></i>
                            </a> </li>
                            <li>
                                <button onclick="logout()">Logout</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <br><br><br><br><br><br><br><br>
    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                    <h2>Contact Us</h2>
                    <h4>We would love to hear from you !</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fname" style="color: wheat;">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lname " style=" color: wheat; ">Last Name:</label>
                        <div class="col-sm-10 ">
                            <input type="text " class="form-control " id="lname " placeholder="Enter Last Name " name="lname ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-2 " for="email " style="color: wheat; ">Email:</label>
                        <div class="col-sm-10 ">
                            <input type="email " class="form-control " id="email " placeholder="Enter email " name="email ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-2 " for="comment " style="color: wheat; ">Comment:</label>
                        <div class="col-sm-10 ">
                            <textarea class="form-control " rows="5 " id="comment "></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="form-group ">
                        <div class="col-sm-offset-2 col-sm-10 ">
                            <button type="submit " class="btn btn-default ">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <br>
    <br>
    <br><br><br>
    <br><br><br><br><br>

    <footer class=" text-center text-white " style="background-color:slategrey;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
            ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
            ></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i
            ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i
            ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
            ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
            ></a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input -->
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                <label class="form-label" for="form5Example2">Email address</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
            </section>
            <!-- Section: Text -->

            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>