<div class="container-fluid">
    <div class="row">
        <div class="col-6">
        </div>
        <br>
        <div class="row content">
            <!---->
            <h4 style="text-align: center; color: burlywood ; text-shadow: 2px 2px 8px #54e20c;">Join the best gym </h4>
            <br>
            <div class="col-3">
                <div class="card-bg-light">
                    <article class="card-body mx-auto">
                        <h4 class="card-title mt-3 text-center">Create Account</h4>
                        <form [formGroup]="userForm">

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="" id="nom" class="form-control" placeholder="Full name" type="text" formControlName="nom">

                            </div>
                            <!-- form-group// -->
                            <div class="form-group input-group ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text "> <i class="fa fa-envelope "></i> </span>
                                </div>
                                <input name=" " id="email " class="form-control " placeholder="Email address " type="email " formControlName="email ">
                            </div>

                            <!-- form-group// -->
                            <div class="form-group input-group ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text "> <i class="fa fa-phone "></i> </span>
                                </div>

                                <input name=" " id="telnum " class="form-control " placeholder="Phone number " type="text " formControlName="telnum ">
                            </div>
                            <!-- form-group// -->

                            <!-- form-group end.// -->
                            <div class="form-group input-group ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text "> <i class="fa fa-lock "></i> </span>
                                </div>
                                <input class="form-control " id="pasword " placeholder="Create password " type="password " formControlName="password ">
                            </div>
                            <!-- form-group// -->
                            <div class="form-group input-group ">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text "> <i class="fa fa-lock "></i> </span>
                                </div>
                                <input class="form-control " placeholder="Confirm password " type="password " formControlName="confirmpassword ">
                            </div>
                            <!-- form-group//
                            <div class="form-group ">
                                <button type="submit " class="btn btn-primary btn-block " (click)="register() "> Create Account  </button>
                            </div>
                            form-group// -->
                            <p class="text-center ">Have an account? <a href=" ">Log In</a> </p>
                        </form>
                    </article>
                </div>
            </div>
            <br>
            <!-- <input type="text " class="form-control " placeholder="Enter your Name " aria-label="Username " aria-describedby="basic-addon1 ">
                    <input type="number " class="form-control " placeholder="Enter your Age " aria-label="Username " aria-describedby="basic-addon1 ">
                    <input type="text " class="form-control " placeholder="Enter your address " aria-label="Username " aria-describedby="basic-addon1 ">
                    <input type="number " class="form-control " placeholder="Enter your number " aria-label="Username " aria-describedby="basic-addon1 ">
                    <input type="email " class="form-control " placeholder="Enter your email " aria-label="Username " aria-describedby="basic-addon1 "> -->
            <!-- <input id="nom " type="text " name="nom " placeholder="Enter your name " formControlName="nom " value="Mark " required>
            <span id="messages01 " style="color: rgb(255, 255, 255); "></span>
            <input id="age " type="number " name="age " placeholder="Enter your Age " formControlName="age ">
            <span id="messages02 " style="color: rgb(255, 255, 255); "></span>
            <input id="address " type="text " name="address " placeholder="Enter your address " formControlName="address ">
            <span id="messages03 " style="color: rgb(255, 255, 255); "></span>
            <input id="telnum " type="text " name="telnum " placeholder="Enter your PhoneNumber " formControlName="telnum ">
            <span id="messages04 " style="color: rgb(255, 255, 255); "></span>
            <input id="email " type="email " name="emai " placeholder="Enter your email " formControlName="email ">
            <span id="messages05 " style="color: rgb(255, 255, 255); "></span>

            <input id="password " type="password " name="password " placeholder="Enter your password " formControlName="password ">
            <span id="messages06 " style="color: rgb(255, 255, 255); "></span>
            <input id="confirmpassword " type="password " name="confirmpassword " placeholder="confirm your password " formControlName="confirmpassword ">
            <span id="messages07 " style="color: rgb(255, 255, 255); "></span>
            <button type="button " class="btn btn-primary " (click)="register() ">Inscription</button>
            <a href="# "><button type="button " class="btn btn-default btn-round " style="background-color: rgb(67, 214, 38); ">  Se connecter</button></a>
        </div>-->



            <!-- <div class="row footer ">
            <div class="col-4 "></div>
            <div class="col-4 ">
                <i class="fab fa-facebook-square "></i>
                <i class="fab fa-twitter-square "></i>
                <i class="fab fa-instagram-square "></i>
                <i class="fab fa-linkedin-square "></i>
                <i class="fab fa-google-square "></i>

            </div>
        </div> -->

            <!-- Footer -->
            <!--<p class="text-center ">Get started with your free account</p>
                        <p>
                            <a href=" " class="btn btn-block btn-twitter "> <i class="fab fa-twitter "></i>   Login via Twitter</a>
                            <br><br>
                            <a href=" " class="btn btn-block btn-facebook "> <i class="fab fa-facebook-f "></i>   Login via facebook</a>
                        </p>
                        <p class="divider-text ">
                            <span class="bg-light ">OR</span>
                        </p>-->
            <br>
            <br>
            <footer class=" text-center text-white " style="background-color:slategrey; ">
                <!-- Grid container -->
                <div class="container p-4 ">
                    <!-- Section: Social media -->
                    <section class="mb-4 ">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                        class="fab fa-facebook-f "></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                        class="fab fa-twitter "></i></a>

                        <!-- Google -->
                        <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                        class="fab fa-google "></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button "><i
                        class="fab fa-instagram "></i></a>

                        <!-- Linkedin -->
                        <a class="btn btn-outline-light btn-floating m-1 " href="#! " role="button " style="color: red; "><i
                        class="fab fa-youtube "></i></a>


                    </section>
                    <!-- Section: Social media -->

                    <!-- Section: Form -->
                    <section class=" ">
                        <form action=" ">
                            <!--Grid row-->
                            <div class="row d-flex justify-content-center ">
                                <!--Grid column-->
                                <div class="col-auto ">
                                    <p class="pt-2 ">
                                        <strong>Sign up for our newsletter</strong>
                                    </p>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-5 col-12 ">
                                    <!-- Email input -->
                                    <div class="form-outline form-white mb-4 ">
                                        <input type="email " id="form5Example2 " class="form-control " />
                                        <label class="form-label " for="form5Example2 ">Email address</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-auto ">
                                    <!-- Submit button -->
                                    <button type="submit " class="btn btn-outline-light mb-4 ">
                                Subscribe
                            </button>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->
                        </form>
                    </section>
                    <!-- Section: Form -->

                    <!-- Section: Text -->
                    <section class="mb-4 ">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
                        </p>
                    </section>
                    <!-- Section: Text -->

                    <!-- Section: Links -->
                    <section class=" ">
                        <!--Grid row-->
                        <div class="row ">
                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                                <h5 class="text-uppercase ">Links</h5>

                                <ul class="list-unstyled mb-0 ">
                                    <li>
                                        <a href="#! " class="text-white ">Link 1</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 2</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 3</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 4</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                                <h5 class="text-uppercase ">Links</h5>

                                <ul class="list-unstyled mb-0 ">
                                    <li>
                                        <a href="#! " class="text-white ">Link 1</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 2</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 3</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 4</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                                <h5 class="text-uppercase ">Links</h5>

                                <ul class="list-unstyled mb-0 ">
                                    <li>
                                        <a href="#! " class="text-white ">Link 1</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 2</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 3</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 4</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                                <h5 class="text-uppercase ">Links</h5>

                                <ul class="list-unstyled mb-0 ">
                                    <li>
                                        <a href="#! " class="text-white ">Link 1</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 2</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 3</a>
                                    </li>
                                    <li>
                                        <a href="#! " class="text-white ">Link 4</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </section>
                    <!-- Section: Links -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
                    © 2020 Copyright:
                    <a class="text-white " href="https://mdbootstrap.com/ ">MDBootstrap.com</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>