<div class="container-fluid">
    <div class="row navbar">

        <nav _ngcontent-fwe-c106="" color-on-scroll="500" class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div _ngcontent-fwe-c106="" class="container">

                <div _ngcontent-fwe-c106="" id="navbarToggler" class="navbar-collapse">
                    <a class="navbar-brand" href="#"> <strong>𝔻𝕆𝕌𝔽𝕘𝕪𝕞</strong> </a>
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/HOME"> <i class="fa fa-home"></i> HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="" style="color:rgba(238, 45, 215, 0.672); text-shadow:2px 2px 8px #daf4fac1;">TRAINING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LOCATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">CONTACT US</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Link
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>-->
                        <!--<li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                            </li>-->
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>


                </div>

            </div>
        </nav>

    </div>
    <br><br><br><br><br><br><br><br>
    <div class="row contenu">
        <div class="col-3"></div>
        <div class="text col-6">
            <h1 style="text-align: center; color: burlywood ; text-shadow: 2px 2px 8px #54e20c;"> 𝙲𝚘𝚊𝚌𝚑𝚒𝚗𝚐 & 𝚃𝚛𝚊𝚒𝚗𝚒𝚗𝚐 𝚂𝚎𝚛𝚟𝚒𝚌𝚎𝚜
            </h1>
            <p style="color: azure; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 16px;">
                Whether you’re new to working out or a fitness pro, we’re here to provide a variety of training options, guidance and friendly support to help you stay on track and reach your goals. Get to a healthier place today!
            </p>
            <br><br><br>

        </div>
        <div class="col-1"></div>
        <div class="pic col-5">
        </div>
    </div>
    <div class="row images">
        <div class=" col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/931DB4FECP0" allowfullscreen></iframe>
                </div>
                <div class="card-body" style="background-color:unset;">
                    <p class="card-text"><span style="color: crimson;"> FREE FITNESS CONSULTATION</span> Through a short survey, conversation and a movement assessment, our team will prescribe the perfect program to get you started and on track to meet your fitness goals..</p>

                    <a href="#" class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class=" col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/Screen-Shot-2017-06-01-at-2.29.31-PM-1.jpg" alt="Team">

                <div class="card-body" style="background-color:unset; ">
                    <p class="card-text"> <span style="color: crimson;"> TEAM
                            WORKOUTS</span><br> Full-body workouts designed to build strength and endurance, using the energy of the group and the expertise of the certified personal trainer to maximize your results.
                    </p>
                    <a class="btn btn-outline-light">LEARN MORE</a>

                </div>
            </div>
        </div>
        <div class=" col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/pt.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> <span>PERSONAL TRAINING</span> <br>
                        <br>One-on-one personalized workouts with a certified personal trainer designed to make you stronger from the inside out.
                    </p>
                    <a href="#" class="btn btn-primary">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <footer class=" text-center text-white " style="background-color:transparent;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="color: red;"><i
                        class="fab fa-youtube"></i></a>


            </section>
            <!-- Section: Social media -->

            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                <label class="form-label" for="form5Example2">Email address</label>
                            </div>  -->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subscribe
                            </button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->

            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
            </section>
            <!-- Section: Text -->

            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Link 1</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 2</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 3</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(182, 53, 233, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">DoufGym.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>